body{
    background-image: url(https://cdn2.tfx.company/images/clickwallpapers-yoshi-4k-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;

}

video{
    height: 970px;
}
